-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]"
  = submit_tag 'Refresh', :id => 'ratings_submit' 
%table#movies
  %thead
    %tr
      %th{:class =>('hilite' if @orderBy == 'title')} <a id="title_header" href="?orderBy=title">Movie Title</a>
      %th Rating
      %th{:class =>('hilite' if @orderBy == 'release_date')} <a id="release_date_header" href="?orderBy=release_date">Release Date<a>
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
